 <nav class="navbar navbar-default bootsnav navbar-top header-dark bg-transparent">
                <div class="container nav-header-container">
                    <div class="row">
                        <!-- start logo -->
                        <div class="col-md-2 col-xs-5">
                            <a href="index.html" title="Pofo" class="logo"><img src="images/logo.png" data-at2x="images/logo@2x.png" class="logo-dark default" alt="Pofo"><img src="images/logo-white.png" data-at2x="images/logo-white@2x.png" alt="Pofo" class="logo-light"></a>
                        </div>
                        <!-- end logo -->
                        <div class="col-md-7 col-xs-2 width-auto pull-right accordion-menu xs-no-padding-right">
                            <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#navbar-collapse-toggle-1">
                                <span class="sr-only">toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="navbar-collapse collapse pull-right" id="navbar-collapse-toggle-1">
                                <ul id="accordion" class="nav navbar-nav navbar-left no-margin alt-font text-normal" data-in="fadeIn" data-out="fadeOut">
                                    <!-- start menu item -->

                                    <li>
                                        <a href="/">Home</a>
                                    </li>
                                    <li>
                                        <a href="/">Listings</a>
                                    </li>
                                    {{#user}}
                                      <li>
                                        <a href="/dashboard">Dashboard</a>
                                      </li>
                                      <li>
                                        <a href="/auth/logout">Log Out</a>
                                      </li>
                                    {{/user}}
                                    {{^user}}
                                       <li>
                                            <a href="#" data-toggle="modal" data-target="#signup-modal">Sign Up</a>
                                        </li>
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#login-modal">Log In</a>
                                        </li>
                                    {{/user}}
                                                                    
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </nav>