<!doctype html>
<html class="no-js" lang="en">
    <head>
        <!-- title -->
        <title>Startup Template | Dashboard</title>
        {{>head}}
    </head>
    <body>
        <!-- start navigation -->
        <nav class="navbar no-margin-bottom bootsnav alt-font bg-white sidebar-nav sidebar-nav-style-1">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="col-md-12 col-sm-12 col-xs-12 sidenav-header">
                <!-- start logo -->
                <div class="logo-holder">
                    <a href="/" class="display-inline-block logo"><img alt="Pofo" src="images/logo.png" data-at2x="images/logo@2x.png"></a>
                </div>
                <!-- end logo -->
                <button class="navbar-toggle mobile-toggle" type="button" id="mobileToggleSidenav">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 no-padding-lr">
                <div id="navbar-menu" class="collapse navbar-collapse no-padding">
                    <ul class="nav navbar-nav navbar-left-sidebar font-weight-600">
                        <li>
                            <a href="#" title="Home"><i class="fa fa-user"></i>&nbsp;&nbsp;My Profile</a>
                        </li>
                        <li>
                            <a href="#" title="Home"><i class="fa fa-bars"></i>&nbsp;&nbsp;My Listings</a>
                        </li>
                        <li>
                            <a href="#" title="Home"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Listing</a>
                        </li>
                        <li>
                            <a href="/auth/logout" title="Home"><i class="fa fa-power-off"></i>&nbsp;&nbsp;Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 position-absolute top-auto bottom-0 left-0 width-100 padding-20px-bottom xs-padding-15px-bottom">
                <div class="footer-holder">
                    
                    <div class="social-icon-style-8 text-center margin-eleven-bottom padding-eight-top xs-padding-15px-top xs-margin-15px-bottom">
                        <ul class="small-icon no-margin-bottom">
                            <li><a href="https://www.facebook.com/" target="_blank" class="text-extra-dark-gray"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://twitter.com/" target="_blank" class="text-extra-dark-gray"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="https://dribbble.com/" target="_blank" class="text-extra-dark-gray"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            <li><a href="https://plus.google.com" target="_blank" class="text-extra-dark-gray"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                    </div> 
                    <div class="text-medium-gray text-extra-small border-top border-color-extra-light-gray padding-twelve-top xs-padding-15px-top">&COPY; 2017 POFO. All rights reserved</div>
                </div>
            </div>
        </nav>
        <!-- end navigation --> 
        <div class="sidebar-wrapper bg-light-gray sm-padding-50px-top">

            <!-- start contact form section -->
        <section class="wow fadeIn big-section" id="section-down">
            <div class="container">
                <div class="row equalize sm-equalize-auto">
                    <div class="col-md-6 col-sm-12 col-xs-12 sm-margin-30px-bottom wow fadeInLeft">
                        <div class="padding-fifteen-all bg-light-gray border-radius-6 md-padding-seven-all xs-padding-30px-all height-100">
                            <span class="text-extra-dark-gray alt-font text-large font-weight-600 margin-25px-bottom display-block">Edit Profile</span> 
                            <form onsubmit="_updateUser(event)" id="profile-data">
                                <div>
                                    <div id="success-contact-form" class="no-margin-lr"></div>
                                    <input value="{{ user.name }}" type="text" name="name" id="name" placeholder="Name*" class="border-radius-4 bg-white medium-input">
                                    <input value="{{ user.email }}" type="text" name="email" id="email" placeholder="E-mail*" class="border-radius-4 bg-white medium-input">
                                    <input value="{{ user.facebook }}" type="text" name="facebook" id="facebook" placeholder="Facebook" class="border-radius-4 bg-white medium-input">
                                    <input value="{{ user.twitter }}" type="text" name="twitter" id="twitter" placeholder="Twitter" class="border-radius-4 bg-white medium-input">
                                    <textarea name="bio" id="bio" placeholder="My Bio" rows="5" class="border-radius-4 bg-white medium-textarea">{{ user.bio }}</textarea>
                                    <input type="hidden" value="{{ user.id }}" name="id"/>
                                    <button id="contact-us-button" type="submit" class="btn btn-small border-radius-4 btn-dark-gray"><i class="fa fa-refresh"></i>&nbsp;&nbsp;Update Profile</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 last-paragraph-no-margin wow fadeInRight">
                        <div class="padding-ten-all bg-light-gray border-radius-6 md-padding-seven-all xs-padding-30px-all height-100 sm-text-center">
                            {{#user.image}}
                            <img src="{{ user.image }}=s700-c" alt="" id="user-image" class="border-radius-6 margin-35px-bottom xs-margin-30px-bottom">
                            {{/user.image}}
                            <span class="text-large font-weight-600 alt-font text-extra-dark-gray margin-5px-bottom display-block">Profile Picture</span>
                            <a id="btn-file-select" type="file" class="btn btn-dark-gray btn-small text-extra-small border-radius-4 margin-25px-top"><i class="fa fa-picture-o"></i>&nbsp;&nbsp;Upload Photo</a>
                        </div>
                    </div>                    
                </div>
            </div>
        </section>
        <!-- end contact form section -->
        
          
          
            {{>footer}}
        </div>
        <!-- start scroll to top -->
        <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
        <!-- end scroll to top  -->
        {{>scripts}}
        <script type="text/javascript">
        $(function(){
            // This should be changed to your APP ID
            var turbo = Turbo({site_id: '5a42a666e1de9b0014e5cd55'})

            $('#btn-file-select').click(function(event){
                event.preventDefault()

                turbo.uploadFile(function(err, data){
                    if (err){
                        alert('File Upload Error: ' + err.message)
                        return
                    }

                    if (data.confirmation != 'success'){
                        alert('Error: ' + data.message)
                        return
                    }

                    var file = data.result
                    var id = "{{ user.id }}"
                    $.post('/auth/update',
                            { id: id, image: file.url },
                            function(data) {}
                    );

                    $('#user-image').attr('src', file.url + '=s700-c')
                })
            })
        })

        function _updateUser (e) {
            // console.log($('#profile-data').serialize())
            e.preventDefault();
            $.post( '/auth/update',
                    $('#profile-data').serialize(),
                    function (response) {
                        console.log(response);
                        alert('Your profile was updated.');
                    })
        }
    </script>
    </body>
</html>